<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Array</key>
	<array>
		<date>2016-04-24T01:18:28Z</date>
	</array>
	<key>Boolean</key>
	<true/>
	<key>Data</key>
	<data>
	AAECAwQFBg==
	</data>
	<key>Integer</key>
	<integer>5</integer>
	<key>Real</key>
	<real>0.123456789</real>
	<key>String</key>
	<string>Hello</string>
	<key>UTF16String</key>
	<string>👿</string>
	<key>👿</key>
	<string>UTF16String</string>
</dict>
</plist>
